*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    // transition: all .5s ease-in-out;
    --primary-color: hsl(0, 0%, 98%);
    --secondary-color: hsl(0, 0%, 100%);
    --font-color: hsl(200, 15%, 8%);
}
  .dark {
    // transition: all .5s ease-in-out;
    --primary-color: hsl(207, 26%, 17%);
    --secondary-color: hsl(209, 23%, 22%);
    --font-color: hsl(0, 0%, 100%);
  }
  body{
    //  transition: all .2s ease-in-out;
    background: var(--primary-color);
  }